{% extends "store/layout.html" %}
{% block title %}
Money XChange
{% endblock %}
{% block content %}
<h2> Money XChange</h2>
<h3>Overview</h3>
<p>Money XChange is a cryptocurrency trading application where a 
user can use pretend money to buy and sell cryptocurrency.</p>

<p>This web application is meant to demonstrate knowledge of Django and
Python.  Django's default Authentication system is used for authentication.</p>  

<h3>About Money XChange</h3>

<h4>Authentication</h4>

<p>The user has a choice whether they would like to create an account on Money XChange or not.  

<p>Without an account, the user is able to view current and historical data about many different
types of Cryptocurrencies.  They cannot buy or sell cryptocurrencies however.  

<p>To create an account, the user first goes to 'Login'.  From there, they can click the 'Create
an Account' link.  All that is needed is a Username and Password. </p> 

<p>Once the user is logged in, they will notice that the home page now includes the ability to 
buy Cryptocurrencies.  New menu items, Portfolio and Transactions, have also now appeared.  
The user will also have an account balance, all new users start with $10,000 USD.</p>  

<h4>Information Page / Home Page</h4>
<p>The home page contains current information about each cryptocurrency registered in the Money 
XChange Cryptocurrency database.  If the user is not logged in, they can view information but 
cannot make a purchase.</p>

<p>Once logged in, a 'Buy' button will appear for them to use for purchases. </p> 

<p>A Search bar is also provided.  The user can use this to search for Cryptos either in the 
database or not.  If not in the database, information will still be provided (assuming the 
crypto was found); however, the user is unable to purchase crypto not in the Money XChange 
database.  If the crypto symbol was not known to Quandl, a message will appear to the user.  </p>

<p><b>NOTE:  </b>Only Quandl symbols are used in a search.  If the cryptocurrency has a 
longer symbol (DASH for example), the Quandl symbol must be used (DSH in the case of DASH).  This is a bug and
will be fixed in a future version of Money XChange.</p>


<h4>Buying Cryptocurrency</h4>
<p>To buy a cryptocurrency, the user navigates to the buy page via either the 'Buy' button
within the home page table or the 'Buy' button within that crypto's Info page.  The
'Buy' page will allow the user to specify how much of that crypto to purchase.  The 
user will not be allowed to buy more than their current account balance can purchase. </p>

<h4>Portfolio</h4>
<p>Any crypto holdings the user currently has will be displayed in their Portfolio.  The
quantity and current values will also be specified here.  </p>

<p>The user also has the ability to sell their cryptos here.  </p>

<h4>Transactions</h4>
<p>The user can view all of their prior transactions (Buying or Selling) here. </p> 

<h4>Selling Cryptocurrency</h4>
<p>To sell their cryptocurrency, the user navigates to their Portfolio page.  From there,
they can navigate to the sell page via the crypto's 'Sell' button. </p> 

<p>The 'Sell' page will allow the user to specify how much of the crypto to sell.  
Once the user confirms the sale, all proceeds will be placed back into the user's account.  </p>


<h4>Resetting the Account</h4>
<p>At some point, the user may want to start all over again.  To reset their account,
the user navigates to their Account page.  Towards the bottom of the page is a 'Reset'
button.  Once this button is pressed, all transactions will be cleared and the account
balance will be reset back to $10,000 USD.  This also means that all prior holdings will
be removed.  </p>

<p>From this page, the user can also update information about themselves.  They can update
First Name, Last Name, email (none of this is used in the app btw... simply stored in Django's User table).</p>


<h4>Technologies Used</h4>
<p>This web application was build using Django, Python, HTML, JQuery, and CSS.  
Django's default DBMS, SQLite3, was used. </p>

<p>Quandl's REST endpoint with BITFINEX was used to discover current crypto prices and historical data.  </p>

<p>For this project, I did not use SASS or Bootstrap directly.  However, I did pull in a Bootswatch css file. </p>

{% endblock %}