{% extends "store/layout.html" %}

{% load custom_filters %}

{% block title %}
Buy
{% endblock %}
{% block content %}
<h2 class="mb-5">Purchase Transaction</h2>
<h4 class="mb-3">{{ crypto.name }} ({{ crypto.symbol }})</h4>
<script>
  	
    function calcBuyTotal() {
        quantity = parseInt($('#buy_quantity')[0].value);
        price = parseFloat("{{crypto.price}}");
        total = parseFloat(price);
        total = quantity * price;
        accountAmt = parseFloat("{{account.amount}}");
 
        let error = "";
        if (quantity < 0) {
            error = "Unable to purchase.  Must specify a quantity greater than 0";
        }
        else if (total > accountAmt) {
            error = "Unable to purchase.  There are no enough funds in your account for payment.";
        }

        if (error !== "" || quantity == 0) {
            $('#buy').attr('disabled', 'disabled');
        }
        else {
            $('#buy').removeAttr('disabled');
        }

        $('#error').text(error);

        $('#total').text('$' + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }

 
</script>
<form method="POST">
    {% csrf_token %}
    <div>
    <table class="table mb-0">
        <tbody>
            <tr>
                <td class="title"><b>Price:</b></td>
                <td>{{ crypto.price|currency }}</td>
            </tr>
            <tr>
                <td class="title"><b>Quantity:</b></td>
                <td>{{ form.quantity }}</td>
            </tr>
            <tr>
                <td class="title"><b>Total:</b></td>
                <td><h5 id="total">$0</h5></td>
            </tr>
          </tbody>
    </table>
    </div>
    <p id="error" class="text-danger mb-0"></p>
    <button id="buy" type="submit" disabled class="btn btn-primary">Purchase</button>
 
</form>
{% endblock %}