{% extends "store/layout.html" %}

{% load custom_filters %}

{% block title %}
{{ crypto.symbol }}
{% endblock %}
{% block content %}

<h2>{{ crypto.name }} ({{ crypto.symbol }})</h2>
<h4 class="date">{{ date | date:'F d' }}</h4>
<table class="table mb-0">
    <tbody>
        <tr>
            <td class="title">30 Day High:</td>
            <td>{{ high|currency }}</td>
        </tr>
        <tr>
            <td class="title">30 Day Low:</td>
            <td>{{ low|currency }}</td>
         </tr>
         <tr>
            <td class="title">Current Price:</td>
            <td>{{ crypto.price|currency }}</td>
         </tr>
       </tbody>
</table>
<div id="graph-canvas" class="month_graph mt-3">
    {% if user.is_authenticated %}
    <a href="{% url 'buy' crypto.symbol %}" class="btn btn-primary mb-3">Buy</a>
    {% endif %}
    {{ graph|safe }}
</div>
{% endblock %}

