{% extends "store/layout.html" %}

{% load custom_filters %}

{% block title %}
{{ crypto.symbol }}
{% endblock %}
{% block content %}

<h2>{% if name != "" %}{{ name }} ({{ symbol }})
    {% else %}{{ symbol }}
    {% endif %}
</h2>
<h4 class="date">{{ date | date:'F d' }}</h4>
<table class="table mb-0">
    <tbody>
        <tr>
            <td class="title">30 Day High:</td>
            <td>{{ high|currency }}</td>
        </tr>
        <tr>
            <td class="title">30 Day Low:</td>
            <td>{{ low|currency }}</td>
         </tr>
         <tr>
            <td class="title">Current Price:</td>
            <td>{{ current|currency }}</td>
         </tr>
       </tbody>
</table>
<div id="graph-canvas" class="month_graph mt-3">
    {% if user.is_authenticated %}
        {% if inDB == True %}
    <a href="{% url 'buy' symbol %}" class="btn btn-primary mb-3">Buy</a>
        {% else %}
        <p> This crypto is not in our database.  Please contact the Money XChange team for purchasing this crypto.</p>
        {% endif %}
    {% endif %}
    {{ graph|safe }}
</div>
{% endblock %}

