{% extends "store/layout.html" %}

{% load custom_filters %}
}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
    <h2>Market</h2>
    <h4>Current prices as of {{ date | date:'d M Y' }} at {{ date | date:'H:i:s' }}</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cryptos</th>
                    <th>Price (USD)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bitcoin (BTC)</td>
                    <td>{{ bitcoin|currency }}</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary">Buy</button></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Ethereum (ETH)</td>
                    <td>{{ ethereum|currency }}</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary">Buy</button></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Ripple (XRP)</td>
                    <td>{{ ripple|currency }}</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary">Buy</button></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Litecoin (LTC)</td>
                    <td>{{ litecoin|currency }}</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary">Buy</button></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Zcash (ZEC)</td>
                    <td>{{ zcash|currency }}</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary">Buy</button></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Bitcoin Cash (BCH)</td>
                    <td>TBD</td>
                    {% if user.is_authenticated %}
                    <td><button type="submit" class="btn btn-primary disabled">Buy</button></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
</div>
{% endblock %}