<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/87baf7d682.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'store/cyborg.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'store/site.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
        <!-- <i class="fas fa-coins"/> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a href="{% url 'home' %}" class="navbar-brand">Money XChange</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" >About</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            {% if user.is_authenticated %}            
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-transactions' %}">Transactions</a>
                </li>
            {% endif %}
        </ul>
    </div>
        <div class="navbar-collapse w-100 order-2 dual-collapse2">
            <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link">Welcome, {{ user.get_username }}!<br/><span class="bigger">Account</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
                </li>
            {% endif %}
            </ul>
        </div>    
         
    </nav>

    <div class="container site-container mt-5">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>© 2021</p>
        </footer>

    </div>
</body>
</html>