{% extends "store/layout.html" %}

{% load custom_filters %}

{% block title %}
Sell 
{% endblock %}
{% block content %}
<h2 class="mb-5">Sell Transaction</h2>
<script>
    function calcTotal() {
        quantity = parseInt($('#quantity')[0].value);
        price = parseFloat("{{crypto.symbol.price}}");
        total = parseFloat(price);
        total = quantity * price;
        accountAmt = parseFloat("{{account.amount}}");
 

        let error = "";
        if (quantity < 0) {
            error = "Unable to purchase.  Must specify a quantity greater than 0";
        }

        if (quantity <= 0) {
            $('#buy').attr('disabled', 'disabled');
        }
        else {
            $('#buy').removeAttr('disabled');
        }

        $('#error').text(error);

        $('#total').text('$' + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
    }
</script>
<h4 class="mb-3">{{ crypto.symbol.name }} ({{ crypto.symbol.symbol }})</h4>
<form method="POST">
    {% csrf_token %}
    <table class="table">
        <tbody>
            <tr>
                <td class="title"><b>Sell Price:</b></td>
                <td>{{ crypto.symbol.price|currency }}</td>
            </tr>
            <tr>
                <td class="title"><b>Quantity:</b></td>
                <td>{{ form.quantity }}</td>
                <!--<td><input id="quantity" type="number" name="quantity" value=0 onChange="calcTotal()"></td>-->
            </tr>
            <tr>
                <td class="title"><b>Total:</b></td>
                <td><h5 id="total">$0</h5></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Sell</button>
</form>
{% endblock %}