

.message {
    font-weight: 600;
    color: blue;
}

#quantity {
    width: 4em;
}

.fas-coins {
    display: inline;
}

.title {
    width: 7em;
}

#error {
    min-height: 2em;
}

.bigger {
    font-size: 1.2em;
}

.site-container {
    max-width: 650px;
    min-width: 450px;
}

.date {
    color: gray;
    padding-bottom: 25px;
}

#symbol_search {
    width: 60px;
}